/* Variables */
:root {
    /* Colors */
    --background: #020202;
    --primary: #ffffff;
    --secondary: #020202; 

    /* Root variables */
    --space-in: 10em;
    --width-in: calc(100% - (var(--space-in) * 2));

    --nav-padding: 15px;
    --border-on-the-nav-and-footer: 2px;
}

@media only screen and (max-width: 1000px) {
    :root {
        --space-in: 2em;
    }
}

/* Everything on the page */
* {
    color: var(--primary);
    font-family: "Inter", sans-serif;
    text-align: center;
    margin: 0;
}

/* HTML element */
html {
    min-height: 100vh;
}

/* Body element */
body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: 100%;
    min-height: 100svh;
}

/* All elements inside the body */
body > * {
    margin: 10px var(--space-in);
    max-width: var(--width-in);
}

body > *:nth-child(2) {
    margin: 100px auto 50px;
}

nav, footer {
    padding-left: var(--space-in);
    padding-right: var(--space-in);
    width: var(--width-in);
}

/* Nav bar */
nav {
    background-color: var(--secondary);
    padding-top: var(--nav-padding);
    padding-bottom: var(--nav-padding);
    margin: 0;
    top: 0;
    display: flex;
    position: fixed;
    border-bottom: var(--border-on-the-nav-and-footer) solid var(--primary);
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

nav > div {
    display: flex;
    flex: auto;
}

nav a:not(:has(img)) {
    padding: 15px;
    justify-self: center;
}

nav img {
    width: 64px;
    height: 64px;
}

nav > div > * {
    margin: auto 10px;
}

/* Hero */
#hero {
    background-image: url("/images/spacebgbecausenoahsdumbahhahhthinksitsunproffesional.jpg");
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    width: 100%;
    max-width: none;
    font-size: 3em;
}

img {
    width: 50%;
}

/* Flex */
.flex {
    display: flex;
}

.flex.reverse {
    flex-direction: row-reverse;
}

.flex.vertical {
    flex-direction: column;
}

.flex.vertical.reverse {
    flex-direction: column-reverse;
}

.left {
    display: flex;
    justify-content: flex-start;
    flex: auto;
}

.right {
    display: flex;
    justify-content: flex-end;
    flex: auto;
}

/* Anchor tag */
a {
    color: var(--dark);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: var(--background);
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto 0px 0px 0px;
    display: flex;
    justify-content: space-around;
    border-top: var(--border-on-the-nav-and-footer) solid var(--primary);
}

footer > * {
    display: flex;
    justify-content: space-around;
}

footer a {
    text-decoration: underline;
}

body > img {
    margin: auto;
}

/* EXTRA STYLING */

/* Button */
.button, button {
    color: var(--secondary);
    background-color: var(--primary);
    padding: 15px;
    border: 1px solid var(--primary);
    border-radius: 15px;
}

.button.secondary, button.secondary {
    color: var(--primary);
    background-color: var(--secondary);
    border: 1px solid var(--primary);
}

.button:hover, button:hover {
    color: var(--primary);
    background-color: var(--secondary);
    border: 1px solid var(--primary);
}

.button.secondary:hover, button.secondary:hover {
    color: var(--secondary);
    background-color: var(--primary);
    border: 1px solid var(--primary);
}