/* Variables */
:root {
    font-size: 20px;

    /* Colors */
    --background: #020202;
    --primary: #ffffff;
    --secondary: #020202; 

    /* Hover */
    --primary-hover: #ddd;
    --secondary-hover: #333;

    /* Root variables */
    --space-in: calc(20em);
    --width-in: calc(100% - (var(--space-in) * 2));

    --nav-padding: 15px;
    --border-on-the-nav-and-footer: 2px;
    --margin-vertical: 10px;

    --border-radius: 16px;
}

@media only screen and (max-width: 1600px) {
    :root {
        --space-in: 10em;
    }
}

@media only screen and (max-width: 1200px) {
    :root {
        --space-in: 10px;
    }
}

@media only screen and (max-width: 1000px) {
    nav #searchForm {
        display: none;
    }
}

/* Everything on the page */
* {
    color: var(--primary);
    font-family: "Inter", sans-serif;
    text-align: center;
    margin: 0;
}

/* HTML element */
html {
    min-height: 100vh;
}

/* Body element */
body {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: 100%;
    min-height: 100svh;
}

/* All elements inside the body */
body > * {
    margin: 10px var(--space-in);
    max-width: var(--width-in);
}

body > *:nth-child(2) {
    margin: 100px auto 50px;
}

body img {
    border-radius: var(--border-radius);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > * {
    margin: var(--margin-vertical) auto;
}

nav, footer {
    padding-left: var(--space-in);
    padding-right: var(--space-in);
    width: var(--width-in);
}

/* Article */
article * {
    text-align: left;
    margin: 20px auto;
    font-size: 1.2em;
}

li {
    font-size: 0.8em;
}

/* Nav bar */
nav {
    background-color: var(--secondary);
    padding-top: var(--nav-padding);
    padding-bottom: var(--nav-padding);
    margin: 0;
    top: 0;
    display: flex;
    position: fixed;
    border-bottom: var(--border-on-the-nav-and-footer) solid var(--primary);
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

nav > div {
    display: flex;
    flex: auto;
}

nav a:not(:has(img)) {
    padding: 15px;
    justify-self: center;
}

nav img {
    width: 64px;
    height: 64px;
}

nav > div > * {
    margin: auto 10px;
}

/* Hero */
#hero {
    background-image: url("/images/spacebgbecausenoahsdumbahhahhthinksitsunproffesional.jpg");
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    width: 100%;
    max-width: none;
    font-size: 2em;
}

#hero * {
    text-align: center;
}

img {
    width: 50%;
}

/* Flex */
.flex {
    display: flex;
}

.flex.reverse {
    flex-direction: row-reverse;
}

.flex.vertical {
    flex-direction: column;
}

.flex.vertical.reverse {
    flex-direction: column-reverse;
}

.flex > * {
    flex-basis: 0;
    flex-grow: 1;
}

.left {
    display: flex;
    align-items: flex-start;
    flex: auto;
    width: 100%;
}

.right {
    display: flex;
    justify-content: flex-end;
    flex: auto;
    width: 100%;
}

/* Anchor tag */
a {
    color: var(--dark);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: var(--background);
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto 0px 0px 0px;
    display: flex;
    justify-content: space-around;
    border-top: var(--border-on-the-nav-and-footer) solid var(--primary);
}

footer > * {
    display: flex;
    justify-content: space-around;
}

footer a {
    text-decoration: underline;
}

body > img {
    margin: auto;
}

/* EXTRA STYLING */

/* Button */
.button, button {
    color: var(--secondary);
    background-color: var(--primary);
    border: 1px solid var(--primary);
    padding: 15px;
    border-radius: var(--border-radius);
    font-size: 1rem;
}

.button.secondary, button.secondary {
    color: var(--primary);
    background-color: var(--secondary);
    border: 1px solid var(--primary);
}

.button:hover, button:hover {
    background-color: var(--primary-hover);
    border: 1px solid var(--primary);
}

.button.secondary:hover, button.secondary:hover {
    background-color: var(--secondary-hover);
}

/* boxed, 200 */
.box {
    border: 2px solid var(--primary);
    border-radius: var(--border-radius);
}

/* evil box code */
.boxevil {
    min-height: 100px;
    --margin: 10px;
}

.boxevil > :first-child {
    margin-right: var(--margin);
}

.boxevil > :last-child {
    margin-left: var(--margin);
}

.boxevil > :last-child > * {
    padding: 20px;
}

.boxevil > :last-child > :first-child {
    margin-bottom: var(--margin);
    flex-grow: 0;
}

.boxevil > :last-child > :last-child {
    margin-top: var(--margin);
    padding: 20px;
}

.boxevil > :last-child > :last-child > * {
    margin: 10px;
}

form * {
    font-size: 1rem;
}

input {
    color: var(--primary);
    background-color: var(--secondary);
    border: 1px solid var(--primary);
    padding: 15px;
    border-radius: var(--border-radius);
}

textarea {
    color: var(--primary);
    background-color: var(--secondary);
    border: 1px solid var(--primary);
    padding: 15px;
    border-radius: var(--border-radius);
}

.big-text {
    font-size: 1.5em;
}

.boxevil img {
    width: 100%;
}

/* evil flex box */
.evilflex > * {
    margin: 10px;
}

/* file display list */
.fileList {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.fileList * {
    color: var(--secondary);
}

.fileList > button {
    background-color: var(--primary);
    border: var(--primary) solid 2px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin: var(--margin-vertical) 16px;
}

.fileList > button:hover {
    text-decoration: none;
    background-color: var(--primary-hover)
}

.fileList > button > div {
    display: flex;
    flex-shrink: 0;
}

.fileList > button > div:nth-child(2) {
    overflow-x: hidden;
    flex-shrink: 1;
    flex-grow: 1;
}

.fileList > button > div:nth-child(2) > p {
    white-space: nowrap;
}

.fileList > button > div > * {
    padding: 4px;
}

.aboutussection {
    display: flex;
}

.aboutussection p {
    margin: auto;
}

.aboutussection img {
    width: 250px;
    height: 250px;
}

/* File page */
.filePage {
    width: 100%;
    min-height: 50vh;
}

.filePage > * {
    margin: var(--margin);
}

.icon {
    width: 16px;
    height: 16px;
    border-radius: 0px;
}

/* samEvilBar 🥀 */

.samEvilProgress {
    width: 100%;
    justify-content: left;
    display: flex;
}

.samEvilBar {
    width: 0%;
    height: 20px;
    border-radius: 25px;
    margin: 0;
    background-color: grey;
}

/* Sam evil modal 💰💰💰💵💵 */

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 100lvh;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    /*overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    margin: 0;
    transition: top 0.5s ease-in-out;
    max-width: unset;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.modal.open {
    top: 0;
}

.modal-content {
    background-color: #000000;
    margin: 0 auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: var(--border-radius);
}

.buttons > * {
    margin: 10px;
}

.fileDisplayDescription {
    color: #676767;
}