<!DOCTYPE html>
<html lang="en">
    <!-- head.html START -->
        <meta name="description" content="The CappaShare website made by Casper, Sam and Noah. (Testing page)">
    <!-- head.html END -->
    <body>
        <!-- nav.html HERE -->

        <div id="hero">
            <h1>This is a product</h1>
            <h2>Yurr</h2>
        </div>       
        
        <main id="main">
            <div>
                <p>preview for "{{title}}" goes here</p>
            </div>
            <a href="/api/download/{{filename}}-{{id}}" class="button" download>
                DOWNLOAD NOW!!!! :O
            </a>
            <p>Verified status: {{verified}}</p>
        </main>
        
        <!-- footer.html HERE -->
    </body>
</html>