<head>
    <meta charset="UTF-8">
    <!-- Title the webiste tab -->
    <title>CappaShare</title>
    <!-- Use the pico stylesheet because it looks cool -->
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
    <meta name="viewport" content="width=device-width">
    <link rel="preload" fetchpriority="high" href="/images/spacebgbecausenoahsdumbahhahhthinksitsunproffesional.jpg" type="image/jpg" as="image">
    <link rel="preload" href="/images/logo.png" type="image/png" as="image">

<!-- INSERT HERE -->
</head>